body {
  font-family: sans-serif;
  display: inline;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.sudoku {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));

  width: min(90vw, 495px);
  height: min(90vw, 495px); /* ensures perfect square */
  gap: 0;
  margin: 20px auto;
  
  border: 3px solid black;

}


.cell {
  width: 100%;
  height: 100%;
  font-size: clamp(25px, 4vw, 32px);
  border: 1px solid #999;
  text-align: center;
  box-sizing: border-box;
  caret-color: transparent; 
  outline: none;
}



.border-right {
  border-right: 3px solid #000;
}

.border-bottom {
  border-bottom: 3px solid #000;
}

.original {
  background-color: hsl(0, 0%, 100%);
}

.invalid {
  color: red;
}

.related {
  background-color: #fbe5fc
}

.selected {
  background-color: #f4d1f6;
}

.number-panel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  width: 90vw;
  max-width: 300px;
  margin: 20px auto;
}

.number-panel button {
  height: 49px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #e2dddd;
  border-radius: 3px;
}

.number-panel button:hover {
  background-color: #d6cdcd;
}

.win-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  z-index: 1000;
  text-align: center;
  width: 80%;
  max-width: 350px;
}

.blurred {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
  opacity: 0.6;
}

.app {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
